h1, h2, h3, h4, h5, h6 {
  font-family: "Gibson", sans-serif, "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  font-size: 1.3em;
  line-height: 1.4;
  margin-top: 9px;
}

code,pre{
  font-size: 12px;
  line-height: 1.4;
  white-space: pre-wrap;
  padding-top: 1em;
  padding-bottom: 1em;
  clear:both;
  padding: 0.2em;
  margin: 0;
  background-color: rgba(0,0,0,0.04);
  border-radius: 3px;
  font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

pre textarea {
    background: transparent;
    border: none;
    height: inherit !important;
    width: 375px;
}

pre {
    height: 230px;
}
